<tr>
    <td><%= update_mail.id %></td>
    <td><%= update_mail.title %></td>
    <td>
        <%  update_mail.distribution_lists.each do |dlist| %>
            <%= dlist.name %><br>
        <% end %>
    </td>
    <td>
        <%= link_to({:controller => 'update_mails', :action => 'send_email', :id => update_mail.id},
                    {:class => 'btn btn-xs btn-outline btn-primary dim tooltip-enabled', data:
                            {confirm: 'Are you sure you want to send this email?', title: 'Send Email'}}, {}) do %>
            <i class="fa fa-paper-plane-o"></i>
        <% end %>
        <%= link_to({:controller => 'update_mails', :action => 'edit', :id => update_mail.id},
                    {:class => 'btn btn-xs btn-primary'}, {}) do %>
            <i class="fa fa-edit"></i>
        <% end %>
        <%= link_to({:controller => 'update_mails', :action => 'destroy', :id => update_mail.id},
                    {:class => 'btn btn-xs btn-danger', :method => :delete,
                     data: {confirm: "Are you sure you want to delete update mail: #{update_mail.title}?"}},
                    {:method => :delete}) do %>
            <i class="fa fa-trash"></i>
        <% end %>
    </td>
</tr>