<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <%= sortable 'id', 'ID'%>
            <span class="fa fa-sort"></span>
        </th>
        <th>
            <%= sortable 'title' %>
            <span class="fa fa-sort"></span>
        </th>
        <th>Distribution Lists</th>
        <th style="text-align: center">
            <%= sortable 'id', 'Created At' %>
            <span class="fa fa-sort"></span>
        </th>
        <th style="text-align: center">
            <%= sortable 'sent_at', 'Sent At' %>
            <span class="fa fa-sort"></span>
        </th>
        <th style="text-align: center">
            <%= sortable 'update_mail_views_count', 'View Count' %>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render @update_mails %>
    </tbody>
</table>
<div>
    <%= page_entries_info @update_mails, class: 'pull-left', model: 'update_mails' %>
    <%= will_paginate @update_mails, renderer: BootstrapPagination::Rails, class: 'pull-right no-margin' %>
</div>