<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>New Email Template</h5>
            </div>
            <div class="ibox-content">
                <%= form_for @email_template, html: {class: 'form-horizontal'} do |f| %>
                    <div class="form-group">
                        <%= f.label :name, 'Name', class: 'col-sm-2 control-label' %>
                        <div class="col-sm-10">
                            <%= f.text_field :name, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :template, 'Email Template', class: 'col-sm-2 control-label' %>
                        <div class="col-sm-10">
                            <%= f.text_area :template, {rows: 10, class: 'form-control template-area',
                                                        placeholder: 'Paste template in here. Use HTML syntax!'} %>
                        </div>
                        <button class="btn btn-primary btn-xs pull-right" type="button"
                                style="margin-top: 5px; margin-right: 14px" data-toggle="modal"
                                data-target="#templateModal" onclick="loadPreview()">
                            <i class="fa fa-eye"></i> Preview
                        </button>
                    </div>
                    <div class="form-group">
                        <%= f.label :preview_image, 'Preview Image', class: 'col-sm-2 control-label' %>
                        <div class="col-sm-10">
                            <%= f.attachment_field :preview_image, class: 'control-label' %>
                        </div>
                    </div>
                    </div>
                    </div>
                    <%= f.submit 'Create Email Template', class: 'btn btn-primary pull-right', style: 'margin-bottom: 20px' %>
                    <%= link_to 'Cancel', :back, class: 'btn btn-white pull-right', style: 'margin-right: 10px' %>
                <% end %>
                </div>
</div>

<%= render 'preview_modal' %>